/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de la página con imagen del País Vasco */
body {
    font-family: 'Arial', sans-serif;
    background: url('img/banderavasca.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Superposición semitransparente para mejorar la legibilidad */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Estilo del contenedor del quiz */
#start-screen {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
}

#start-screen h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#start-screen p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#start-btn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-btn:hover {
    background-color: #e60012;
}

/* Estilo de las preguntas y respuestas */
.quiz-container {
    display: none;
    z-index: 2;
    position: relative;
    text-align: center;
}

.quiz-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.question {
    margin: 20px 0;
}

button {
    background-color: #00b894;
    color: white;
    font-size: 1.1rem;
    padding: 12px 25px;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 80%;
    max-width: 400px;
}

button:hover {
    background-color: #55efc4;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button.correct {
    background-color: burlywood;
}

button.incorrect {
    background-color: burlywood;;
}

/* Resultados */
#result {
    font-size: 1.5rem;
    margin-top: 20px;
}
